<!-- filter.html -->
<div class="filter-popup-content">
  <div class="select-wrapper tooltip" data-tooltip="Method">
    <select name="filter-selector">
      <option value="exact">Exact match</option>
      <option value="contains">Contains</option>
      <option value="not contains">Does not contain</option>
      <option value="regex">RegEx</option>
    </select>
    <!-- Enable/Disable the filter -->
    <div class="buttons-wrapper">
      <img name="visibility-icon" class="toggled tooltip" data-tooltip="Toggle" src="/images/View.svg" alt="Show" />
      <img name="delete-icon" class="tooltip" data-tooltip="Delete" src="/images/Delete.svg" alt="Delete" />
    </div>
  </div>
  <!-- Input field for filter -->
  <input type="text" name="filter-input" required />
  <!-- Button for submitting the filter -->
  <button name="filter-submit-button" class="submit-button disabled">Submit</button>
</div>
