:root{
    --header_color: rgb(116, 116, 255);
}

.header-cell,
.header-cell * {
    background-color: var(--header_color);
}

.header-cell .cell-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    /* Push them as far apart */
    justify-content: space-between;
}