:root {
    --header_color: rgb(138, 138, 255);
}

.header-cell,
.header-cell * {
    background-color: var(--header_color);
}

.header-cell .cell-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    /* Push them as far apart */
    justify-content: space-between;
}

.header-cell img[name='cell-filter'] {
    --side_length: 16px;
    cursor: pointer;
    margin-left: 5px;
    height: var(--side_length);
    width: var(--side_length);
}