/* Reset default styles for number input */
input[type="number"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: white;
    font-size: inherit;
}

/* Style the container to create a modern look */
.modern-number-input {
    display: inline-block;
    position: relative;
}

/* Style the input field */
input.modern-number-input {
    width: 40px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
}

/* Make bolder when selected */
input.modern-number-input:focus {
    outline: none;
    border: 2px solid black
}