<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <script src="/scripts/main/routing_handler.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="/resources/styles/main/page_layout.css" />
  </head>
  <body>
    <iframe id="spreadsheetFrame" src="/templates/spreadsheet/index.html"></iframe>
    <iframe id="fileManagerFrame" src="/templates/file_manager/index.html"></iframe>
  </body>
</html>
