.filters-list-container {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
}

.add-filter::before {
    content: "+";
}

.filters-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    /* Prevent overflow */
    overflow-y: auto;
}

.filter-item {
    flex: 1;
    margin-top: 10px;
}