.filter-popup-content {
    display: flex;
    flex-direction: column;
}

.filter-popup-content input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}

.filter-popup-content input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.filter-popup-content .select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-wrapper {
    padding-left: 5px;
}

.buttons-wrapper img {
    --side_length: 24px;
    cursor: pointer;
    height: var(--side_length);
    width: var(--side_length);
}

.filter-popup-content select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.filter-popup-content button {
    /* Specific styling for buttons inside the filter popup */
    border-radius: 10px;
    margin-top: 3px;
    color: white;
}

.submit-button {
    --submit_button: #3c60ff;
    background-color: var(--submit_button);
}

.submit-button.disabled {
    --disabled_submit_button: #6a6b6c;
    background-color: var(--disabled_submit_button);
}