.filters-list-container {
    display: none;
    position: absolute;
}

.filters-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    /* Prevent overflow */
    overflow-y: scroll;
}

.add-filter {
    content: "+";
    font-size: 40sp;
    justify-content: center;
    align-items: center;
}

.filter-item {
    flex: 1;
    /* Assign each of them an equal amount of space */
    border: 1px solid black;
}