.filters-list-container {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

.separator {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-filter::before {
    content: "+";
}

.add-filter {
    cursor: pointer;
}

.filters-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    /* Prevent overflow */
    overflow-y: auto;
}

.filter-item {
    flex: 1;
}