:root {
    --file-data-side: 128px;
    --button-side: 24px;
}

.file-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.file-icon {
    --transition-time: 0.3s;
    width: var(--file-data-side);
    height: var(--file-data-side);
    transition: transform var(--transition-time) ease-in-out;
}

/* Add a hover enlarge effect on non selected files */
.file-icon:not(.selected):hover {
    --scale: 1.15;
    transform: scale(var(--scale));
}

.text-container {
    width: var(--file-data-side);
    max-height: calc(var(--file-data-side)/8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-name {
    text-align: center;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.buttons-wrapper img {
    width: var(--button-side);
    height: var(--button-side);
    margin: 5px 0;
    cursor: pointer;
}

img[name="delete-icon"] {
    opacity: 0.7;
    filter: grayscale(100%);
    transition: opacity 0.3s, filter 0.3s;
}

img[name="delete-icon"]:hover {
    opacity: 1;
    filter: none;
}

.filters-container {
    position: absolute;
    width: 100%;
    max-height: 300px;
}

.editing {
    border: 1px solid blue;
    background-color: #f0f8ff;
    /* Light blue background color */
}