:root {
    --file-data-side: 128px;
    --button-side: 24px;
}

.file-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.data-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.data-wrapper img {
    --transition-time: 0.3s;
    width: var(--file-data-side);
    height: var(--file-data-side);
    transition: transform var(--transition-time) ease-in-out;
}

/* Add a hover enlarge effect on non selected files */
.data-wrapper img:not(.selected-file):hover {
    --scale: 1.15;
    transform: scale(var(--scale));
}

.text-container {
    width: var(--file-data-side);
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.buttons-wrapper img {
    width: var(--button-side);
    height: var(--button-side);
    margin: 5px 0;
    cursor: pointer;
}

.filters-container {
    position: absolute;
    width: 100%;
    max-height: 300px;
}