/* Handle tooltip text */
.tooltip p {
    /* Wrapping */
    height: 55px;
    text-overflow: ellipsis;
    overflow: hidden;

    /* Layout */
    word-wrap: break-word;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.editing {
    border: 1px solid blue;
    background-color: #f0f8ff;
    /* Light blue background color */
}

.tooltip span {
    position: absolute;
    visibility: hidden;
    max-width: 80%;
    word-wrap: break-word;
    padding: 3px;
    color: white;
}

.tooltip:hover span:not(.short) {
    --background-color: rgb(105, 100, 96);
    visibility: visible;
    background-color: var(--background-color);
}