<!-- File view, will become the innerHTML of a div with the ID data of the corresponding file in DB -->
<div class="data-wrapper">
  <img class="file-icon" onclick="handleSelect(event, this.parentElement.parentElement, this.parentElement.parentElement.getAttribute('data-id'))" src="/images/excel_logo_closed.svg" alt="Excel icon closed" />
  <p class="text-container">
    <span class="file-name tooltip"></span>
  </p>
</div>
<div class="buttons-wrapper">
  <img data-tooltip="Edit" class="edit tooltip" onclick="import('/scripts/file_manager/file_handlers/edit_handler.js').then(module => module.handleEdit(this, this.parentElement.parentElement, this.parentElement.parentElement.getAttribute('data-id')))" src="/images/Edit.svg" alt="Edit" />
  <img data-tooltip="Download" class="download tooltip" onclick="handleDownload(this.parentElement.parentElement.getAttribute('data-id'))" src="/images/Download.svg" alt="Download file" />
  <img data-tooltip="Delete" class="delete trashbin tooltip" onclick="handleDelete(this.parentElement.parentElement, this.parentElement.parentElement.getAttribute('data-id'))" src="/images/Delete.svg" alt="Delete file" name="delete-icon" />
</div>
