<!-- File view, will become the innerHTML of a div with the ID data of the corresponding file in DB -->
<div class="data-wrapper">
  <img class="file-icon" onclick="handleSelect(event, this.parentElement.parentElement, this.parentElement.parentElement.getAttribute('data-id'))" src="/images/excel_logo_closed.svg" alt="Excel icon closed" />
  <div class="text-container tooltip">
    <p class="file-name"></p> <!-- File name -->
    <span></span> <!-- ToolTip -->
  </div>
</div>
<div class="buttons-wrapper">
  <img class="edit" onclick="handleEdit(this, this.parentElement.parentElement, this.parentElement.parentElement.getAttribute('data-id'))" src="/images/Edit.svg" alt="Edit" />
  <img class="download" onclick="handleDownload(this.parentElement.parentElement.getAttribute('data-id'))" src="/images/Download.svg" alt="Download file" />
  <img class="delete" onclick="handleDelete(this.parentElement.parentElement, this.parentElement.parentElement.getAttribute('data-id'))" src="/images/Delete.svg" alt="Delete file" name="delete-icon" />
</div>
