<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Manager</title>

    <!-- File handlers -->
    <script src="/scripts/file_manager/file_handlers/delete_handler.js"></script>
    <script src="/scripts/file_manager/file_handlers/download_handler.js"></script>
    <script type="module" src="/scripts/file_manager/file_handlers/edit_handler.js"></script>

    <!-- Selection handlers -->
    <script src="/scripts/file_manager/file_handlers/select_handler.js"></script>
    <script src="/scripts/file_manager/file_handlers/options_handler.js"></script>

    <link rel="stylesheet" href="/styles/file_manager/page_layout.css" />

    <!-- File view styles -->
    <link rel="stylesheet" href="/styles/file_manager/file_styles.css" />

    <!-- grid controls handlers -->
    <script src="/scripts/file_manager/grid_controls_handlers/compress_handler.js"></script>

    <!-- Tooltip handler and styles -->
    <link rel="stylesheet" href="/styles/tooltip/tooltipStyles.css" />
    <script type="module" src="/scripts/tooltip/tooltipHandler.js"></script>
  </head>
  <body>
    <!-- The folder that will contain the file views and allow dragging files to it. -->
    <div class="folder" id="drop-zone"></div>
    <div class="grid-controls">
      <img id="compress" src="/images/ZipFolder.svg" onclick="handleCompress()"/>
    </div>
    <div id="tooltip"></div> <!-- A Hidden element waiting to be shown -->
    <script type="module" src="/scripts/file_manager/drop_zone_handler.js"></script>
  </body>
</html>
