html,
body {
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

#drop-zone:not(.populated)::before {
    content: "Drop files here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

#drop-zone {
    width: 90%;
    height: 90%;
    opacity: 1;
    border-radius: 10px;
    overflow-y: auto;
    border: 1px dashed black;
}

#drop-zone.dragover {
    border-style: solid;
}