<!-- file_view.html -->
<div class="data-wrapper">
  <img onclick="handleSelect(event)" src="{{ url_for('static', filename = 'images/excel_logo_closed.svg') }}" alt="Excel icon closed" />
  <div class="text-container tooltip">
    <p class="file-name"></p> <!-- File name -->
    <span></span> <!-- ToolTip -->
  </div>
</div>
<div class="buttons-wrapper">
  <img class="edit" onclick="handleEdit(event)" src="{{ url_for('static', filename = 'images/Edit.svg') }}" alt="Edit" />
  <img class="query-list" onclick="handleQueryList(event)" src="{{ url_for('static', filename = 'images/QueryList.svg') }}" alt="Manage filters" />
  <img class="download" onclick="handleDownload(event)" src="{{ url_for('static', filename = 'images/Download.svg') }}" alt="Download file" />
  <img class="delete" onclick="handleDelete(event)" src="{{ url_for('static', filename = 'images/Delete.svg') }}" alt="Delete file" />
</div>
