<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/select_file/layout_styles.css') }}" />
    <title>Select file</title>

    <!-- For folder and file-view -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/select_file/file_view_styles.css') }}" />
    <script src="{{ url_for('static', filename = 'javascripts/select_file/file_view_handler.js') }}"></script>
  </head>
  <body>
    <!-- The folder that will contain the file views and allow dragging files to it. -->
    <div class="folder" id="drop-zone"></div>
    <script type="module" src="{{ url_for('static', filename = 'javascripts/select_file/file_drop_handler.js') }}"></script>
  </body>
</html>
