<!-- filter_popup.html -->
<div class="filter-popup-content">
  <div class="select-wrapper">
    <select id="filter_selector">
      <option value="exact">Exact match</option>
      <option value="contains">Contains</option>
      <option value="not contains">Does not contain</option>
      <option value="regex">RegEx</option>
    </select>
    <img id="visibility-icon" src="/resources/images/Hide.svg" alt="Hide" />
  </div>
  <!-- Input field for filter -->
  <input type="text" required id="filter_input" />
  <!-- Button for submitting the filter -->
  <button id="filter_submit_button">Submit</button>
</div>
