<!-- filter_popup.html -->
<div class="filter-popup-content">
  <div class="select-wrapper">
    <select id="filter-selector">
      <option value="exact">Exact match</option>
      <option value="contains">Contains</option>
      <option value="not contains">Does not contain</option>
      <option value="regex">RegEx</option>
    </select>
    <!-- Enable/Disable the filter -->
    <div class="buttons-wrapper">
      <img id="delete-icon" src="/resources/images/Delete.svg" alt="Delete" />
      <img id="visibility-icon" class="toggled" src="/resources/images/View.svg" alt="Show" />
    </div>
  </div>
  <!-- Input field for filter -->
  <input type="text" required id="filter-input" />
  <!-- Button for submitting the filter -->
  <button id="filter-submit-button">Submit</button>
</div>
