<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spreadsheet</title>
    <!-- Scripts -->
    <script type="module" src="/resources/javascripts/spreadsheet/populate_spreadsheet.js" defer></script>
    <script type="module" src="/resources/node_modules/xlsx/dist/xlsx.full.min.js" defer></script>
    <script type="module" src="/resources/javascripts/spreadsheet/filter_handler.js" defer></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/resources/styles/spreadsheet/page_layout.css" />
    <link rel="stylesheet" href="/resources/styles/spreadsheet/sheet_selector_styles.css" />
    <link rel="stylesheet" href="/resources/styles/spreadsheet/table_styles.css" />
    <link rel="stylesheet" href="/resources/styles/spreadsheet/filter_styles.css" />
  </head>
  <body>
    <div id="spreadsheet"></div>
    <input type="number" min="1" max="1" step="1" value="1" name="Sheet: " id="sheetSelector" class="modern-number-input" />
  </body>
</html>
